.demo_main{
    margin-top: 6rem;
    display:flex ;
    color: white;
    background-color: black;
    height:500px;
    justify-content: space-between;
}

.demo_left{
    padding-top: 3rem;
    padding-left: 14rem;
    width:48%;
    text-align: left;
}
.demo_right{
 margin-top: 60px;   
}
.demo_right img{
 height:500px
}