
  .Right_button{
    background-color: #F7B801
  }
  .main_navbar{
    padding: 20px;
    align-items:center;
    
    display:flex ;
    justify-content: space-around;
    width:80%;
    margin: auto;
  }
  .box_navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    position: fixed;
    
    background-color: white;
  }